<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{monthly_loan_payment}}<br>
{{yearly_value}}<br>
"yearly_increase"{{yearly_increase}}<br>
{{rental_income_yearly}}<br>
"general_incomes" - {{general_incomes}}<br>
{{monthly_return_amount}}
<br>
<br>

investment_net_value - {{investment_net_value}}<br>

expected_investment_income_for_years - {{expected_investment_income_for_years}}<br>
profit_margin_for_all_years - {{profit_margin_for_all_years}}
</body>
</html>